.backg{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.searchbar {
    background-color: white;
    height: 100px;
    display: flex;  
    margin-top: 10px;
    margin-bottom: 10px;      
}

.sideheader{
    margin-top: 10px;
    background-color: white;
    font-size: large;
    text-align: center;
}

.pl0{
    padding-left: 0px;
}
.pr0{
    padding-right: 0px;
}
.mainheader{
    margin-top: 10px;
    height: 50px;
    background-color: white;
    display: flex;
}
.genre {
    margin-top: 10px;
    background-color: white;
    height: 800px;

}

.maincont{
    max-width: 1500px;
}
.detail {
    position: absolute;
    right: 0;
    border-style: groove;
    margin-right: 5px;
}
.novellist{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.novelcard{
    width: 380px;
    height: 187px;
    box-sizing: content-box;
    margin: 10px;
    background-color: white;
}


.cover-img {
    padding: 5px;
    width: auto;
    height: 185px;
}

.genrelist{
    padding-left: 5%;
    list-style-type: none;
    overflow-y: scroll;
    height: 700px;
}

.tags {
    width: 80%;
    margin: 5%;
    color: black;
    border-color: rgba(173, 173, 173, 0.753);
}


.noveldetails{
    height: 450px;
    background-color: white;
    margin: 20px;
}

.fullimage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description{
    background-color: white;
    width: auto;
    margin: 20px;
    padding: 25px;
}

#darkModeBtn {
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  height: 50px;
  width: 50px;
  outline: none;
  background-color: #333333c2;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

#darkModeBtn:hover {
  background-color: #111111c2;
  color: white
}

.dark-mode {
  background-color: #181a1b !important;
  color: white;
  transition: 0.5s;
}

.dark-mode-card {
  background-color: #1b1d1e !important;
  color: white;
  transition: 0.5s;
}

.dark-mode-text-box {
  background-color: #232323 !important;
  color: white;
  transition: 0.5s;
}

.dark-mode-btn {
  background-color: #232323;
  color: white; !important
  transition: 0.5s;
  border-color: #0080ff;
}